In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [2]:
data = pd.read_csv(r"C:\Users\sravanth\Desktop\Deep_Learning\iris_modified.csv")

In [3]:
df = data.copy()

In [5]:
df.head()

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0           0           5.1          3.5           1.4          0.2  setosa
1           1           4.9          3.0           1.4          0.2  setosa
2           2           4.7          3.2           1.3          0.2  setosa
3           3           4.6          3.1           1.5          0.2  setosa
4           4           5.0          3.6           1.4          0.2  setosa

In [6]:
df.tail()

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species
95,95,5.7,3.0,4.2,1.2,versicolor
96,96,5.7,2.9,4.2,1.3,versicolor
97,97,6.2,2.9,4.3,1.3,versicolor
98,98,5.1,2.5,3.0,1.1,versicolor
99,99,5.7,2.8,4.1,1.3,versicolor

In [7]:
## EDA

In [8]:
df.shape

(100, 6)

In [10]:
df.isnull().sum()

Unnamed: 0      0
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [11]:
df.describe()

       Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width
count  100.000000    100.000000   100.000000    100.000000   100.000000
mean    49.500000      5.471000     3.099000      2.861000     0.786000
std     29.011492      0.641698     0.478739      1.449549     0.565153
min      0.000000      4.300000     2.000000      1.000000     0.100000
25%     24.750000      5.000000     2.800000      1.500000     0.200000
50%     49.500000      5.400000     3.050000      2.450000     0.800000
75%     74.250000      5.900000     3.400000      4.325000     1.300000
max     99.000000      7.000000     4.400000      5.100000     1.800000

In [16]:
df.duplicated().sum()

0